
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.header__title {
  position: relative;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 2;
} 

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
  min-width: 784px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.digits {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 100px 0;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.section-subtitle {
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 20 0 0;

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  flex-flow: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
  padding-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
}

li {
  list-style-type: none;
 }

 .feynman {
  display: flex;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  height: 760px;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin:0;
  padding: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px;
}

.feynman__link {
top: 50%;
right: 48px;
position: absolute;
display: flex;
line-height: 51px;
font-size: 36px;
text-decoration: none;
color: black;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: black;
  background-image: url(../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 855px;
  background-size: 877px;
}

.section-title_theme_dark {
  display: flex;
  justify-content: center;
  line-height: 1.15;
  width: 60%;
  margin-top: 90px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.section-subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: white;
}
.table_theme_dark {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 90px;
  flex-flow: wrap;
  flex-direction: row;
  padding-top: 0;
  z-index: 1;
  color: white;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  margin-right: 5px;
  color: white;
}

.table__heading_theme_dark {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
  padding-bottom: 0;
}

.table__text_theme_dark {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background: black;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  position: relative;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 5;
}

.footer__columns__content_copyrights {
  flex-basis: 711px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.footer__column_links {
  margin: 0;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding: 0;
}


.footer__column_link {
line-height: 30px;
font-size: 18px;
font-weight: normal;
color: white;
text-decoration: none;
padding: 0;
margin: 0;
}

.footer__column_heading {
line-height: 30px;
font-size: 18px;
font-weight: bold;
color: white;
padding: 0;
margin: 0;
position: absolute;
top: 0;
}

.footer__social_icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
line-height: 25px;
font-size: 18px;
font-weight: normal;
color: white;
margin-top: 170px;
position: absolute;
bottom: 0;
left: 0;
}